{% extends '../Common/base.html' %}

{% block title %}index{% endblock %}

{% block header %}
<style type="text/css">
    
</style>
{% endblock %}

{% block content %}

<!-- news module -->
<!-- stock module -->

<div class="col-xs-12 col-md-8">
    <div class="st-mod" id="stock-mod">        
        <h2 class="sub-header">今日推荐 <a class="more" href="/stock">>>更多</a></h2>
        {% for item in stockList %}
        <div class="section">
            <div class="title">
                <span class="name"><a href="/stock/detail?id={{ item.id }}">{{ item.name }}({{ item.code }})</a></span>
                <span class="rating"><em class="rating{{ item.rating }}"></em></span>
                <span class="price">{{ item.price }}</span>
            </div>
            <div class="info">
                <span class="topic">主题：{{ item.topic }}</span><ins class="ins">|</ins>
                <span class="type">类型：{{ stockTypeConf[item.type] }}</span><ins class="ins">|</ins>
                <span class="author">分析师：{{ item.author }}</span>
            </div>
            {% if item.reason != "" %}
            <div class="reason">分析：{{ item.reason }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="st-mod" id="news-mod">        
        <h2 class="sub-header">今日推荐 <a class="more" href="/news">>>更多</a></h2>
        {% for item in newsList %}
        <div class="section">
            <div class="title">
                <h3><a href="/news/detail?id={{ item.id }}">{{ item.title }}</a></h3>
                <span class="share">分享</span>
            </div>
            <div class="info">
                {{ item.content }}&nbsp;&nbsp;&nbsp;&nbsp;<a class="detail" href="/news/detail?id={{ item.id }}" target="_blank">查看详情</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- weixin module -->
<div class="col-xs-12 col-md-4">
    <div class="st-mod" id="weixin-mod">        
        <h2 class="sub-header">微信公众号推荐 <a class="more" href="/news">>>更多</a></h2>
        <div class="row">
            {% for item in weixinList %}
            <div class="col-xs-12 col-sm-12 placeholder">
                <img data-src="{{ item.img }}" class="img-responsive weixinImg" alt="120x120" src="{{ item.img }}" data-holder-rendered="true">
                <h4>{{ item.name }}</h4>
                <span class="text-muted">{{ item.intro }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
	
{% block footer %}

{% endblock %}	