{% extends '../Common/base.html' %}

{% block title %}推荐股票{% endblock %}

{% block page_head %}推荐股票{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>(代名称码)</th>
			<th>主题</th>
			<th>类型</th>
			<th>推荐星级</th>
			<th>分析师</th>
		</tr>
	</thead>
	<tbody>
	{% for item in stockList %}
		<tr>
			<td><a href="/stock/detail?id={{ item.id }}">{{ item.name }}({{item.code}})</a></td>
			<td>{{ item.topic }}</td>
			<td>{{ stockTypeConf[item.type] }}</td>
			<td>{{ item.rating }}</td>
			<td>{{ item.author }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
	
{% block footer %}

{% endblock %}	