{% extends '../Common/base.html' %}

{% block title %}股票精选-{% endblock %}

{% block header %}
<style>
	.stock-mod .section{
        border-top:0;
    }
    .stock-mod .reason p{
        text-indent:2em;
        margin-top:10px;
        margin-bottom:25px;
    }
</style>
{% endblock %}

{% block page_head %}股票详情{% endblock %}

{% block content %}
 <div class="st-mod stock-mod">
    <div class="section">
        <div class="title">
            <span class="name"><a href="/stock/detail?id={{ stockInfo.id }}">{{ stockInfo.name }}({{ stockInfo.code }})</a></span>
            {% set rating = stockInfo.rating * 10 %}
            <span class="rating"><em class="rating{{ rating }}"></em></span>
            <span class="price">{{ stockInfo.price }}</span>
        </div>
        <div class="info">
            <span class="topic">主题：{{ stockInfo.topic }}</span><ins class="ins">|</ins>
            <span class="type">类型：{{ stockInfo.type }}</span><ins class="ins">|</ins>
            <span class="author">分析师：{{ stockInfo.author }}</span>
        </div>
        {% if stockInfo.reason != "" %}
        <div class="reason">分析：{{ stockInfo.reason }}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
	
{% block footer %}
	<script>
	$(".favour").on("click",function(e){
		e.preventDefault();

		var self = $(this);
		var id = self.data("id");
		var number = parseInt(self.find(".number").html());

		$.post('/stock/_favour',{id:id},function(data){
			console.log(data);
			if(data.errno == 0){
				self.find(".number").html(number + 1);
				// TODO  增加简单判断：写入cookie，判断无cookie方可点赞
			}
		})
	})

	</script>
{% endblock %}	