{% extends '../Common/base.html' %}

{% block title %}股票精选-{% endblock %}

{% block header %}
<style type="text/css">
	.stock-mod{
		margin-bottom:15px;
	}
    .st-mod .section{
        border-top:0;
    }
    .page-header{
        border:solid 1px #e7e7e7;
        background:white;
        padding:0 20px;
        margin-top:0;
    }
    
    .erweima img{
        float:left;
        margin:0 50px 0 170px;
    }
    .erweima .info{
        float:left;
        width:400px;
        margin-top:60px;
        font-size:32px;
    }
    .erweima .weixin{
        color:red;
    }
</style>
{% endblock %}
{% block page_head %}
    股票精选
{% endblock %}
{% block page_head_des %}
    <div class="erweima clearfix">
        <img src="http://p9.qhimg.com/d/inn/8febc82c/qrcode_for_gh_e8391a6ba9b6_344.jpg" alt="">
        <p class="info">
            微信扫描左侧二维码关注“<span class="weixin">股票帝</span>”公众号，每日盘前推荐精选个股2~3只。<br/><br/>
            网站已停更，敬请谅解！
        </p>
    </div>
{% endblock %}

{% block content %}
    <div class="page-header">
      <h1>第 {{ date }} 期操作推荐<small><a href="/stock/history">历史推荐</a></small></h1>
    </div>
    {% for item in stockList %}
    <div class="st-mod stock-mod">
        <div class="section">
            <div class="title">
                <span class="name"><a href="/stock/detail?id={{ item.id }}">{{ item.name }}({{ item.code }})</a></span>
                {% set rating = item.rating * 10 %}
                <span class="rating"><em class="rating{{ rating }}"></em></span>
                <span class="price">{{ item.price }}</span>
            </div>
            <div class="info">
                <span class="topic">主题：{{ item.topic }}</span><ins class="ins">|</ins>
                <span class="type">类型：{{ stockTypeConf[item.type] }}</span><ins class="ins">|</ins>
                <span class="author">分析师：{{ item.author }}</span>
            </div>
            {% if item.reason != "" %}
            <div class="reason">分析：{{ item.reason }}<a class="detail" href="/stock/detail?id={{ item.id }}" target="_blank">查看详情</a></div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% endblock %}
	
{% block footer %}

{% endblock %}	