{% extends '../Common/base_admin.html' %}

{% block title %}index{% endblock %}

{% block header %}

{% endblock %}

{% block page_head %}文章{% endblock %}
{% block page_head_sub %}<a href="/admin/article/add">添加</a>{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>标题</th>
			<th>内容</th>
			<th>时间</th>
		</tr>
	</thead>
	<tbody>
	{% for item in stocks %}
		<tr>
			<td>1</td>
			<td>{{ item.title }}</td>
			<td>{{ item.content }}</td>
			<td>{{ item.pub_time }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
	
{% block footer %}

{% endblock %}	