{% extends '../Common/base_admin.html' %}

{% block title %}index{% endblock %}

{% block header %}

{% endblock %}

{% block page_head %}推荐股票{% endblock %}
{% block page_head_sub %}<a href="/admin/stock/add">添加</a>{% endblock %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>名字(代码)</th>
			<th>主题</th>
			<th>理由</th>
		</tr>
	</thead>
	<tbody>
	{% for item in stocks %}
		<tr>
			<td>1</td>
			<td>{{ item.name }}({{item.code}})</td>
			<td>{{ item.topic }}</td>
			<td>{{ item.reason }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
	
{% block footer %}

{% endblock %}	