<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="/resource/css/bootstrap.css">
		{% block header %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/admin">管理中心</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li {% if cates.category == "news" %}class="active"{% endif %}><a href="/{{ cates.group }}/news">news</a></li>
		        <li {% if cates.category == "stock" %}class="active"{% endif %}><a href="/{{ cates.group }}/stock">stock</a></li>
		        <li {% if cates.category == "weixin" %}class="active"{% endif %}><a href="/{{ cates.group }}/weixin">weixin</a></li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </form>
		      <ul class="nav navbar-nav navbar-right">
		        {% if userInfo.email == "" %}
		        <li><a href="/admin/user/login">登录</a></li>
		        {% else %}
		        <li class="dropdown">
		          <a href="/admin" class="dropdown-toggle" data-toggle="dropdown">{{ userInfo.email }} <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">账号设置</a></li>
		            <li><a href="/admin/weixin">微信管理</a></li>
		            <li><a href="/admin/stock">股票管理</a></li>
		            <li class="divider"></li>
		            <li><a href="/admin/user/logout">退出</a></li>
		          </ul>
		        </li>
		        {% endif %}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<!-- <div class="navbar navbar-default navbar-static-top">
			{% if userInfo && userInfo.email %}
			用户名：{{ userInfo.email }}
			{% else %}
				<a href="/admin/user/login">登陆</a>
				<a href="/admin/user/reg">注册</a>
			{% endif %}
		</div> -->
		<div class="container">
			<div class="row">
			{% if cates.category != "user" && cates.category != "index" %}
				<div class="col-md-3">
					<nav>
						<ul class="nav nav-pills nav-stacked" role="tablist">
						{% if cates.category == "news" %}
							<li role="presentation"{% if cates.action == "index" %} class="active"{% endif %}><a href="/{{ cates.group }}/{{ cates.category }}/index">url抓取</a></li>
							<li role="presentation"{% if cates.action == "capture" %} class="active"{% endif %}><a href="/{{ cates.group }}/{{ cates.category }}/capture">批量抓取</a></li>
						{% else %}
							<li role="presentation"{% if cates.action == "index" %} class="active"{% endif %}><a href="/{{ cates.group }}/{{ cates.category }}/index">列表</a></li>
							<li role="presentation"{% if cates.action == "add" %} class="active"{% endif %}><a href="/{{ cates.group }}/{{ cates.category }}/add">添加</a></li>
						{% endif %}
						</ul>
					</nav>
				</div>
				<div class="col-md-9">
					<div class="page-header">
						<h1>{% block page_head %}{% endblock %}<small>{% block page_head_sub %}{% endblock %}</small></h1>
					</div>
				{% block content %}

				{% endblock %}
				</div>
			</div>
		{% else %}
			<div class="col-md-12">
				{% block content %}

				{% endblock %}
			</div>
		{% endif %}
		</div>		
	</body>
	<script src="http://s7.qhimg.com/lib/jquery/1102.js"></script>
	<script src="/resource/js/bootstrap.js"></script>
	{% block footer %}
	{% endblock %}
</html>